<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link rel="stylesheet" type="text/css" media="all" href="/css/styles.css" th:href="@{/css/styles.css}" />
<title>Add User</title>

</head>
<body>
 <main class="container">
    <div><a href="/">Home</a></div>
    <h1>Add User</h1>	
    <form th:action="@{/adduser}" method="post" enctype="multipart/form-data">
    <table>
		<tr>    
            <td><label for="name">Name:</label></td>
            <td><input type="text" id="name" name="name"/><td>
        </tr>
        <tr>  
            <td><label for="email">Email:</label></td>
            <td><input type="email" id="email" name="email"/></td>
        </tr>
        <tr>       
            <td><label for="country">Country:</label></td>
            <td><input type="text" id="country" name="country"/></td>
        </tr>
        <tr>       
            <td><label for="profilePicture">Photo:</label></td>
            <td><input type="file" id="profilePicture" name="photo" /></td>
        <tr>
        <td></td><td><button type="submit">Add</button><td>
        </tr>
     </table>   
    </form>
  </main>
</body>
</html>